/*  your css code here. If applicable */
.card{
	background-color:white;
	width:50vw;
	box-shadow:1px 1px 20px black;
	text-align:center;
	padding:20px
}
#btn{
	background-color:red;
	color:white;
	border:none;
	padding:10px 10px;
	border-radius:15px;
}